<section class="filtro-mobile">Filtrar</section>
<section class="filtro" >
    <article>
        <h4>Filtros </h4>
    </article>
    <article class="busqueda" >
        <div class="sub-titulo" data-ng-click = "$ctrl.mostrarFiltroNombre($ctrl.filtroNombre)">
            <div class="lupa"></div>
            <span>Nombre del hotel</span>
            <div class="flecha"></div>
        </div>
        <div class="busqueda-hotel" data-ng-show = "$ctrl.filtroNombre">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <input type="text" placeholder="Ingresa el nombre del hotel" data-ng-model="$ctrl.lugar">
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="btn-principal" data-ng-click="$ctrl.datos({nombre:$ctrl.lugar})">Aceptar</div>
                </div>
            </div>
        </div>
    </article>

    <article >
        <div class="sub-titulo"  data-ng-click = "$ctrl.mostrarFiltroEstrella($ctrl.filtroEstrella)">
            <div class="estrella-azul"></div>
            <span>Estrellas</span>
            <div class="flecha"></div>
        </div>
        <div class="busqueda-estrella" data-ng-show = "$ctrl.filtroEstrella">
            <div><input type="checkbox" data-ng-model="ctrl.seleccionarTodasEstrellas"><span>Todas las estrellas</span></div>
            <div><input type="checkbox" data-ng-disabled="ctrl.seleccionarTodasEstrellas" data-ng-checked="ctrl.seleccionarTodasEstrellas"><div class="estrella"></div><div class="estrella"></div><div class="estrella"></div><div class="estrella"></div><div class="estrella"></div></div>
            <div><input type="checkbox" data-ng-disabled="ctrl.seleccionarTodasEstrellas" data-ng-checked="ctrl.seleccionarTodasEstrellas"><div class="estrella"></div><div class="estrella"></div><div class="estrella"></div><div class="estrella"></div></div>
            <div><input type="checkbox" data-ng-disabled="ctrl.seleccionarTodasEstrellas" data-ng-checked="ctrl.seleccionarTodasEstrellas"><div class="estrella"></div><div class="estrella"></div><div class="estrella"></div></div>
            <div><input type="checkbox" data-ng-disabled="ctrl.seleccionarTodasEstrellas" data-ng-checked="ctrl.seleccionarTodasEstrellas"><div class="estrella"></div><div class="estrella"></div></div>
            <div><input type="checkbox" data-ng-disabled="ctrl.seleccionarTodasEstrellas" data-ng-checked="ctrl.seleccionarTodasEstrellas"><div class="estrella"></div></div>
        </div>
    </article>
</section>